# Node.js
node_modules/
npm-debug.log*

# VS Code
.vscode/*.log
.vscode/*.bak
.vscode/*.code-workspace
.vscode-test/
*.vsix

# Build artifacts

out/

# macOS
.DS_Store

# Test logs
test-output.log
.vscode/settings.json
